/* BEGIN Light */
@font-face {
  font-family: 'Open Sans';
  src: url("fonts/Light/OpenSans-Light-v=1.1.0.eot");
  src: url("fonts/Light/OpenSans-Light-.eot#iefix&v=1.1.0") format("embedded-opentype"), url("fonts/Light/OpenSans-Light-v=1.1.0.woff2") format("woff2"), url("fonts/Light/OpenSans-Light-v=1.1.0.woff") format("woff"), url("fonts/Light/OpenSans-Light-v=1.1.0.ttf") format("truetype"), url("fonts/Light/OpenSans-Light-v=1.1.0.svg#Light") format("svg");
  font-weight: 300;
  font-style: normal; }
/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("fonts/LightItalic/OpenSans-LightItalic-v=1.1.0.eot");
  src: url("fonts/LightItalic/OpenSans-LightItalic-.eot#iefix&v=1.1.0") format("embedded-opentype"), url("fonts/LightItalic/OpenSans-LightItalic-v=1.1.0.woff2") format("woff2"), url("fonts/LightItalic/OpenSans-LightItalic-v=1.1.0.woff") format("woff"), url("fonts/LightItalic/OpenSans-LightItalic-v=1.1.0.ttf") format("truetype"), url("fonts/LightItalic/OpenSans-LightItalic-v=1.1.0.svg#LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans';
  src: url("fonts/Regular/OpenSans-Regular-v=1.1.0.eot");
  src: url("fonts/Regular/OpenSans-Regular-.eot#iefix&v=1.1.0") format("embedded-opentype"), url("fonts/Regular/OpenSans-Regular-v=1.1.0.woff2") format("woff2"), url("fonts/Regular/OpenSans-Regular-v=1.1.0.woff") format("woff"), url("fonts/Regular/OpenSans-Regular-v=1.1.0.ttf") format("truetype"), url("fonts/Regular/OpenSans-Regular-v=1.1.0.svg#Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("fonts/Italic/OpenSans-Italic-v=1.1.0.eot");
  src: url("fonts/Italic/OpenSans-Italic-.eot#iefix&v=1.1.0") format("embedded-opentype"), url("fonts/Italic/OpenSans-Italic-v=1.1.0.woff2") format("woff2"), url("fonts/Italic/OpenSans-Italic-v=1.1.0.woff") format("woff"), url("fonts/Italic/OpenSans-Italic-v=1.1.0.ttf") format("truetype"), url("fonts/Italic/OpenSans-Italic-v=1.1.0.svg#Italic") format("svg");
  font-weight: normal;
  font-style: italic; }
/* END Italic */
/* BEGIN Semibold */
@font-face {
  font-family: 'Open Sans';
  src: url("fonts/Semibold/OpenSans-Semibold-v=1.1.0.eot");
  src: url("fonts/Semibold/OpenSans-Semibold-.eot#iefix&v=1.1.0") format("embedded-opentype"), url("fonts/Semibold/OpenSans-Semibold-v=1.1.0.woff2") format("woff2"), url("fonts/Semibold/OpenSans-Semibold-v=1.1.0.woff") format("woff"), url("fonts/Semibold/OpenSans-Semibold-v=1.1.0.ttf") format("truetype"), url("fonts/Semibold/OpenSans-Semibold-v=1.1.0.svg#Semibold") format("svg");
  font-weight: 600;
  font-style: normal; }
/* END Semibold */
/* BEGIN Semibold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("fonts/SemiboldItalic/OpenSans-SemiboldItalic-v=1.1.0.eot");
  src: url("fonts/SemiboldItalic/OpenSans-SemiboldItalic-.eot#iefix&v=1.1.0") format("embedded-opentype"), url("fonts/SemiboldItalic/OpenSans-SemiboldItalic-v=1.1.0.woff2") format("woff2"), url("fonts/SemiboldItalic/OpenSans-SemiboldItalic-v=1.1.0.woff") format("woff"), url("fonts/SemiboldItalic/OpenSans-SemiboldItalic-v=1.1.0.ttf") format("truetype"), url("fonts/SemiboldItalic/OpenSans-SemiboldItalic-v=1.1.0.svg#SemiboldItalic") format("svg");
  font-weight: 600;
  font-style: italic; }
/* END Semibold Italic */
/* BEGIN Bold */
@font-face {
  font-family: 'Open Sans';
  src: url("fonts/Bold/OpenSans-Bold-v=1.1.0.eot");
  src: url("fonts/Bold/OpenSans-Bold-.eot#iefix&v=1.1.0") format("embedded-opentype"), url("fonts/Bold/OpenSans-Bold-v=1.1.0.woff2") format("woff2"), url("fonts/Bold/OpenSans-Bold-v=1.1.0.woff") format("woff"), url("fonts/Bold/OpenSans-Bold-v=1.1.0.ttf") format("truetype"), url("fonts/Bold/OpenSans-Bold-v=1.1.0.svg#Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("fonts/BoldItalic/OpenSans-BoldItalic-v=1.1.0.eot");
  src: url("fonts/BoldItalic/OpenSans-BoldItalic-.eot#iefix&v=1.1.0") format("embedded-opentype"), url("fonts/BoldItalic/OpenSans-BoldItalic-v=1.1.0.woff2") format("woff2"), url("fonts/BoldItalic/OpenSans-BoldItalic-v=1.1.0.woff") format("woff"), url("fonts/BoldItalic/OpenSans-BoldItalic-v=1.1.0.ttf") format("truetype"), url("fonts/BoldItalic/OpenSans-BoldItalic-v=1.1.0.svg#BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }
/* END Bold Italic */
/* BEGIN Extrabold */
@font-face {
  font-family: 'Open Sans';
  src: url("fonts/ExtraBold/OpenSans-ExtraBold-v=1.1.0.eot");
  src: url("fonts/ExtraBold/OpenSans-ExtraBold-.eot#iefix&v=1.1.0") format("embedded-opentype"), url("fonts/ExtraBold/OpenSans-ExtraBold-v=1.1.0.woff2") format("woff2"), url("fonts/ExtraBold/OpenSans-ExtraBold-v=1.1.0.woff") format("woff"), url("fonts/ExtraBold/OpenSans-ExtraBold-v=1.1.0.ttf") format("truetype"), url("fonts/ExtraBold/OpenSans-ExtraBold-v=1.1.0.svg#ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal; }
/* END Extrabold */
/* BEGIN Extrabold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic-v=1.1.0.eot");
  src: url("fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic-.eot#iefix&v=1.1.0") format("embedded-opentype"), url("fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic-v=1.1.0.woff2") format("woff2"), url("fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic-v=1.1.0.woff") format("woff"), url("fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic-v=1.1.0.ttf") format("truetype"), url("fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic-v=1.1.0.svg#ExtraBoldItalic") format("svg");
  font-weight: 800;
  font-style: italic; }
/* END Extrabold Italic */

/*# sourceMappingURL=open-sans.css.map */
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url("fonts/Google/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2") format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url("fonts/Google/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2") format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url("fonts/Google/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url("fonts/Google/MTP_ySUJH_bn48VBG8sNSv8zf_FOSsgRmwsS7Aa9k2w.woff2") format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url("fonts/Google/MTP_ySUJH_bn48VBG8sNSj0LW-43aMEzIO6XUTLjad8.woff2") format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url("fonts/Google/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}